.events.event-list
  .container
    - events.each do |event|
      .event{"data-test" => "#{event_type}-event", "itemscope" => "", "itemtype" => "http://data-vocabulary.org/Event"}
        .name{"data-test" => "#{event_type}-event-name", "itemprop" => "summary"}
          = event.name
        %time.time{"itemprop" => "startDate", "datetime" => event.time.utc.iso8601}
          = event.time.strftime("%-e %b %Y - %-l:%M%P")
        .venue{"itemprop" => "location", "itemscope" => "", "itemtype" => "http://data-vocabulary.org/Organization"}
          = event.venue_name
        .details
          = link_to link_name, event_path(event.id), {"data-test" => "#{event_type}-event-link", "itemprop" => "url"}
