.events
  .container
    - @events.each do |event|
      .event{"data-test" => "event"}
        .title{"data-test" => "event-title"}= event.title
        .when
          = format_when(event.from, event.to)
        .where
          = event.venue
        .details
          = link_to "Details", "#"
        .rsvp
          = link_to "RSVP"   , event.rsvp_link, target: "_blank"

.introduction
  .container
    .logo
      = image_tag "logo_icon_red.png"
      %h2.text-header
        What is RubySG?
    .what
      %p
        RubySG is Singapore's Ruby community, formed in 200x.
    .help
      %p
        You can find help from our Google Group or Facebook page.
