.events.next
  .container
    %h3 Upcoming Event
    .event
      .title November Meetup
      .when  Nov 19, 2013 - 7:00pm
      .where Silicon Straits
      .rsvp= link_to "RSVP", "#"

.events.past
  .container
    %h3 Past Events
    - @events.each do |event|
      .event{"data-test" => "event"}
        .title{"data-test" => "event-title"}= event.title
        .when
          = format_when(event.from, event.to)
        .where
          = event.venue
        .slides
          = link_to "Slides", "#"

.introduction
  .container
    .logo
      = image_tag "logo_icon_red.png"
      %h2.text-header
        What is RubySG?
    .what
      %p
        RubySG is Singapore's Ruby community, formed in 200x.
    .help
      %p
        You can find help from our Google Group or Facebook page.
