.events.upcoming
  .container
    - @upcoming_events.each do |event|
      .event{"data-test" => "upcoming-event", "itemscope" => "", "itemtype" => "http://data-vocabulary.org/Event"}
        .name{"data-test" => "upcoming-event-name", "itemprop" => "summary"}
          = event.name
        .details
          %time.time{"itemprop" => "startDate", "datetime" => event.time.utc.iso8601}
            = event.time.strftime("%B %e - %-l:%M%P")
          .venue{"itemprop" => "location", "itemscope" => "", "itemtype" => "http://data-vocabulary.org/Organization"}
            .venue_name{"itemprop" => "name"}
              = event.venue_name
            .venue_address{"itemprop" => "address", "itemscope" => "", "itemtype" => "http://data-vocabulary.org/Address"}
              %span{"itemprop" => "street-address"}
                = event.venue_address
          .btn-rsvp
            = link_to "RSVP", event.event_url, "data-test" => "upcoming-event-link"

.events.event-list
  .container
    = render @historic_events, data_test_type: "historic"

.introduction
  .container
    .logo
      = image_tag "logo_icon_red.png"
      %h2.text-header
        What is RubySG?
    .what
      %p
        RubySG is Singapore's Ruby community, formed in 200x.
    .help
      %p
        You can find help from our #{link_to 'Google Group', 'https://groups.google.com/forum/?fromgroups#!forum/singapore-rb'} or #{link_to 'Facebook page', 'https://www.facebook.com/groups/singaporerubybrigade/'}.
