.container
  %h1= "Event List"
.container
  %h2= "Upcoming event(s)"
= render :partial => "shared/event_list", locals: {events: @upcoming_events, event_type: 'upcoming', link_name: "RSVP"}

.container
  %h2= "Past event(s)"
= render :partial => "shared/event_list", locals: {events: @historic_events, event_type: 'historic', link_name: "Details & Slides"}
