.container
  %h1= "Event List"
.container
  %h2= "Upcoming event(s)"
.events.event-list
  .container
    = render @upcoming_events

.container
  %h2= "Past event(s)"
.events.event-list
  .container
    = render @historic_events
