.container
  .event-detail
    %h1.event-hero-name= @event.name
    %time.time
      = @event.time.strftime("%B %e - %-l:%M%P")
    .btn-rsvp
      = link_to @rsvp, @event.event_url, "data-test" => "upcoming-event-link"
    = raw(@event.description)
  .event-meta
    .venue
      %h2.event-subheading= "Venue"
      .venue_name= @event.venue_name
      .venue_address= @event.venue_address
      = image_tag("http://maps.googleapis.com/maps/api/staticmap?" + {center: @event.latlon, markers: @event.latlon, zoom: 16, size: "250x300", sensor: false}.to_query, alt: @event.venue_name)

